* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(midia/Background.png);
    flex-wrap: wrap;
    color: rgb(40, 61, 73);
    font-family: Arial, Helvetica, sans-serif;
}

nav, main, section, footer {
    display: flex;
}
nav, footer {
    background-color: rgb(40, 61, 73);
}
nav {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: center;
    gap: 2%;
    height: 50px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}
nav a:hover {
    transform: scale(1.04);
}
main {
    flex: 1  1 100vw;
    overflow-y: auto;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
    padding: 10px;
    }
section h1 {
    text-align: center;
    font-family: 'Georgia', serif;
    font-weight: normal;
    padding: 10px;
    font-size: 40px;
    letter-spacing: 1.5px;

}
.story {
    flex: 1 1 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.story video { 
    max-width: 800px;
    width: 100%;  
    transition: 0.3s ease;
    animation: fadeIn 1s ease;
}
.story video:hover {
    transform: scale(1.02);
}
.story p {
    max-width: 810px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 13px;
    font-size: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: 0.3s ease;
    animation: fadeIn 1s ease;
}
.story p:hover {
    transform: scale(1.02);
}
.personagens {
    flex: 1 1 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
}
.personagens p {
    padding: 5px;
}
.personagens img {
    border: 3px solid rgb(82, 106, 119);
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
    transition: 0.3s ease;
}
.personagens img:hover {
    transform: scale(1.02);
}
.John, .Tamonten {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 900px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: 0.3s ease
}
.John:hover, .Tamonten:hover {
    transform: scale(1.02);
}

footer {
    flex: 1 1 100vw;
    color: white;
    justify-content: center;
    align-items: center;
    height: 50px;
}
@keyframes fadeIn {
from { opacity: 0; transform: translateY(20px); }
to { opacity: 1; transform: translateY(0); }
}
@media screen and (max-width: 669px) {
    .personagens {
        margin: 10px;
    }
    .John, .Tamonten {
        flex-wrap: wrap;
    }
    .personagens img {
    border: 3px solid #3498db;
    border-radius: 10px;
    width: 300px;
    max-width: 300px;
}
}
