* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(midia/Background.png);
    flex-wrap: wrap;
    color: rgb(40, 61, 73);
    font-family: Arial, Helvetica, sans-serif;
}

nav, main, section, footer {
    display: flex;
}
nav, footer {
    background-color: rgb(40, 61, 73);
}
nav {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: center;
    gap: 2%;
    height: 50px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}
nav a:hover {
    transform: scale(1.04);
}
main {
    justify-content: center;
    align-items: center;
    flex: 1  1 100vw;
    overflow-y: auto;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
    padding: 10px;
}

main h1 {
    text-align: center;
    color: #2c3e50;
    font-family: 'Georgia', serif;
    font-weight: normal;
    font-size: 36px;
    letter-spacing: 1.5px;
    display: block;
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 40px;

}
.devs{
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 5px;
}


section img {
    width: 130px;
    height: 130px;
    border: 2.5px solid rgb(82, 106, 119);
    border-radius: 50%;
    object-fit: cover;
    
}
.dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 25px;
    width: 100%;
    max-width: 400px;
    animation: fadeIn 1s ease;
    text-align: center;
    transition: 0.3s ease;
}
.dev:hover {
    transform: scale(1.04);
}

footer {
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    height: 50px;
}
@keyframes fadeIn {
from { opacity: 0; transform: translateY(20px); }
to { opacity: 1; transform: translateY(0); }
}