* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(midia/Background.png);
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

nav, header, main, section, footer {
    display: flex;
}
nav, footer {
    background-color: rgb(40, 61, 73);
}
nav {
    flex: 1, 1, 100vw;
    align-items: center;
    justify-content: center;
    gap: 2%;
    height: 50px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}
nav a:hover {
    transform: scale(1.04);
}
header {
  flex: 1 1 100vw;
  justify-content: center;
  align-items: center;
  height: 200px;
}
main {
  flex: 1 1 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 300px);
}
section {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

h1 {
    font-size: 60px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    font-family: 'Georgia', serif;
    font-weight: normal;

}
h2 {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Georgia', serif;
  font-weight: normal;
  text-align: center;
  animation: fadeIn 1.5s ease;

}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: auto;
  text-decoration: none;
  border: solid 2px white;
  border-radius: 5px;
  background-color: rgb(40, 61, 73);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.5s ease;
  animation: fadeIn 1.5s ease;

}
.botao:hover {
  background-color: rgb(21, 37, 46);
  transform: scale(1.2); 
}
.botao a {
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 1.5px;
  transition: 0.3s ease;
}
footer {
    color: white;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.bg-video {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

.bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%); 
}
@keyframes fadeIn {
from { opacity: 0; transform: translateY(30px); }
to { opacity: 1; transform: translateY(0); }
}
