html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(Wallpaper\ Site.png);
    background-size: cover;               /* Ajusta para cobrir toda a tela */
    background-position: center;   
    background-size: 100%;
    color: #333;
    display: flex;
    flex-direction: column;
}

.menu {
    background-color: #2c3e50;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #3498db;
}

div#imagem {
    text-align: center;
    margin-top: 50px;
    animation: 1s ease;
}

div#imagem h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #2c3e50;
    font-family: 'Georgia', serif;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

div#imagem img {
    width: 100%;
    max-width: 40vh;
    max-height: 60vh;
    height: auto;
    transition: 0.3s ease;
}

div#imagem img:hover {
    transform: scale(1.07);
}

div#descricao {
    text-align: center;
    margin: 40px auto;
    max-width: 900px;
    padding: 0 20px;
}

div#descricao p {
    font-size: 18px;
    line-height: 1.8;
    color: #444;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    max-width: 700px;
    margin:  auto;
    animation: fadeIn 1.2s ease;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 12px 0;
    margin-top: auto;
    height:auto ;
    min-height: auto;
}

@keyframes fadeIn {
from { opacity: 0; transform: translateY(20px); }
to { opacity: 1; transform: translateY(0); }
}
    
@media screen and (max-width: 523px)
{
    /*Cabeçalho*/
    .menu {
        max-width: 100%;
        background-color: #2c3e50;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .menu a {
        color: white;
        text-decoration: none;
        font-size: 4.5vw;
        transition: color 0.3s ease;
    }
    .menu a:hover {
        color: #3498db;
    }
    /*Cabeçalho*/

    div#imagem {
        text-align: center;
        margin-top: 6vw;
        animation: 1s ease;
    }
    div#imagem img:hover {
        transform: scale(1.04);
    }
    
}
