* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(midia/Background.png);
    flex-wrap: wrap;
    color: rgb(40, 61, 73);
    font-family: Arial, Helvetica, sans-serif;
}

nav, main, section, header, footer {
    display: flex;
}
nav, footer {
    background-color: rgb(40, 61, 73);
}
nav {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: center;
    gap: 2%;
    height: 50px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}
nav a:hover {
    transform: scale(1.04);
}
header {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 80px;
}
header img {
    width: 400px;
}
main {
    justify-content: center;
    align-items: center;
    flex: 1  1 100vw;
    height: calc(100vh - 200px);
    padding: 10px;
}

section {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    background-color: rgba(0,0,0,0.4);
    background-image: url(midia/imgLogin.png);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    max-width: 500px;
    width: 100%;
    padding: 70px 0px 30px 0px;
    animation: fadeIn 1s ease;
    transition: 0.3s ease;
}
section:hover {
    transform: scale(1.02);
}
section h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
    font-family: Georgia, serif;
}

section input[type="email"],
section input[type="password"] {
    flex-basis: 1 1 400px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

section button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

section button:hover {
    background-color: #2980b9;
}

section .register-link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

section .register-link a {
    color: #3498db;
    text-decoration: none;
}

footer {
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 12px 0;
    height: 50px;
}
.icon {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.icon i {
    position: absolute;
    top: 35%;
    left: 12px;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
}

.icon input {
    padding: 12px 12px 12px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
@keyframes fadeIn {
from { opacity: 0; transform: translateY(30px); }
to { opacity: 1; transform: translateY(0); }
}
